In [ ]:
import pandas as pd

In [65]:
a = int(input("Please enter an integer value greater than 0: "))

if a <= 0:
  print('That integer is less than 0. Try again')
else:
  b = int((2*a))
  c = int(a - 2)
  evenList = []
  oddList = []
  fibList = [0, 1]

  for i in range(0, b):
    if i %2 == 0:
      evenList.append(i)
    else:
      oddList.append(i)

  for i in range(0, c):
    d = fibList[-1] + fibList[-2]
    fibList.append(d)

  dataFrame = pd.DataFrame({'Even': evenList, 'Odd': oddList, 'Fibonacci': fibList})

dataFrame

Please enter an integer value greater than 0: 52

    Even  Odd    Fibonacci
0      0    1            0
1      2    3            1
2      4    5            1
3      6    7            2
4      8    9            3
5     10   11            5
6     12   13            8
7     14   15           13
8     16   17           21
9     18   19           34
10    20   21           55
11    22   23           89
12    24   25          144
13    26   27          233
14    28   29          377
15    30   31          610
16    32   33          987
17    34   35         1597
18    36   37         2584
19    38   39         4181
20    40   41         6765
21    42   43        10946
22    44   45        17711
23    46   47        28657
24    48   49        46368
25    50   51        75025
26    52   53       121393
27    54   55       196418
28    56   57       317811
29    58   59       514229
30    60   61       832040
31    62   63      1346269
32    64   65      2178309
33    66   67      3524578
34    68   69      5702887
35    70   71      9227465
36    72   73     14930352
37    74   75     24157817
38    76   77     39088169
39    78   79     63245986
40    80   81    102334155
41    82   83    165580141
42    84   85    267914296
43    86   87    433494437
44    88   89    701408733
45    90   91   1134903170
46    92   93   1836311903
47    94   95   2971215073
48    96   97   4807526976
49    98   99   7778742049
50   100  101  12586269025
51   102  103  20365011074